<% provide(:title,"200 websites in 200 days") %>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome!</h1>
      <h2 style="font-family:futura; font-weight:900">200 websites in 200 days.</h2>
        <p>I'm Shun Kubota from Japan and I am making websites.<br />
         You can follow the project here.
        </p>
      <hr>
        <p><strong>Today's Website : 
        <span><%= link_to "BMI culculator", controller: "static_pages", action: "number", file_id: "bmi_culculator" %></span>
        </strong></p>
      <hr>


    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4 website_list_container">
        <div>Day 26 <span><%= link_to "BMI culculator", controller: "static_pages", action: "number", file_id: "bmi_culculator" %></span></div>
        <div>Day 25 <span><%= link_to "Countdown Timer", controller: "static_pages", action: "number", file_id: "countdown_timer" %></span></div>
        <div>Day 24 <span><%= link_to "React Timer", controller: "static_pages", action: "number", file_id: "helloworld" %></span></div>
        <div>Day 23 <span><%= link_to "Mindmap", controller: "static_pages", action: "number", file_id: "mindmap" %></span></div>
        <div>Day 22 <span><%= link_to "React memo(in maintenance)", controller: "comments" %></span></div>
        <div>Day 21 <span><%= link_to "Calculator", controller: "static_pages", action: "number", file_id: "calculator" %></span></div>
        <div>Day 20 <span><%= link_to "Balloon", controller: "static_pages", action: "number", file_id: "balloon" %></span></div>
        <div>Day 19 <span><%= link_to "Bound Ball", controller: "static_pages", action: "number", file_id: "bound_ball" %></span></div>
        <div>Day 18 <span><%= link_to "p5", controller: "static_pages", action: "number", file_id: "p5" %></span></div>
        <div>Day 17 <span><%= link_to "Audio Recorder", controller: "static_pages", action: "number", file_id: "audio_recorder" %></span></div>
        <div>Day 16 <span><%= link_to "Face Tracker", controller: "static_pages", action: "number", file_id: "face_tracker" %></span></div>
        <div>Day 15 <span><%= link_to "Make Balls", controller: "static_pages", action: "number", file_id: "make_balls" %></span></div>
        <div>Day 14 <span><%= link_to "Scraping", controller: "static_pages", action: "scraping" %></span></div>
        <div>Day 13 <span><%= link_to "Box Changer", controller: "static_pages", action: "number", file_id: "box_changer" %></span></div>
        <div>Day 12 <span><%= link_to "Party Organizer", controller: "static_pages", action: "number", file_id: "party_organizer" %></span></div>
        <div>Day 11 <span><%= link_to "Make Background", controller: "static_pages", action: "number", file_id: "make_background" %></span></div>
        <div>Day 10 <span><%= link_to "Name Plate", controller: "static_pages", action: "number", file_id: "name_plate" %></span></div>
        <div>Day 9 <span><%= link_to "Drag Graphic", controller: "static_pages", action: "number", file_id: "drag_graphic" %></span></div>
        <div>Day 8 <span><%= link_to "US National flag", controller: "static_pages", action: "number", file_id: "us_national_flag" %></span></div>
        <div>Day 7 <span><%= link_to "Stopwatch", controller: "static_pages", action: "number", file_id: "stopwatch" %></span></div>
        <div>Day 6 <span><%= link_to "Blog", controller: "posts" %></span></div>
        <div>Day 5 <span><%= link_to "Have the time", controller: "static_pages", action: "number", file_id: "have_the_time" %></span></div>
        <div>Day 4 <span><%= link_to "Paint editor", controller: "static_pages", action: "number", file_id: "paint_editor" %></span></div>
        <div>Day 3 <span><%= link_to "Change the color", controller: "static_pages", action: "number", file_id: "change_the_color" %></span></div>
        <div>Day 2 <span><%= link_to "Draw the wall", controller: "static_pages", action: "number", file_id: "draw_the_wall" %></span></div>
        <div>Day 1 <span><%= link_to "Homepage", root_path %></span></div>
      </div>
    </div>
  </div>