<% provide(:title,"200 websites in 200 days") %>
  <div class="container">
    <!-- 見出し -->
    <div class="jumbotron">
      <h1>Welcome!</h1>
      <h2 style="font-family:futura; font-weight:900">200 websites in 200 days.</h2>
        <p>I'm Shun Kubota from Japan and I am making websites.<br />
         You can follow the project here.
        </p>
      <hr>
        <p><strong>Today's Website : 
        <span><%= link_to "Make Background", controller: "static_pages", action: "number", file_id: "make_background" %></span>
        </strong></p>
      <hr>

        <!-- notice space -->

    </div><!-- 見出し終了 -->
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4 website_list_container">
        <div>Day 11 <span><%= link_to "Make Background", controller: "static_pages", action: "number", file_id: "make_background" %></span></div>
        <div>Day 10 <span><%= link_to "Name Plate", controller: "static_pages", action: "number", file_id: "name_plate" %></span></div>
        <div>Day 9 <span><%= link_to "Drag Graphic", controller: "static_pages", action: "number", file_id: "drag_graphic" %></span></div>
        <div>Day 8 <span><%= link_to "US National flag", controller: "static_pages", action: "number", file_id: "us_national_flag" %></span></div>
        <div>Day 7 <span><%= link_to "Stopwatch", controller: "static_pages", action: "number", file_id: "stopwatch" %></span></div>
        <div>Day 6 <span><%= link_to "Blog", controller: "posts" %></span></div>
        <div>Day 5 <span><%= link_to "Have the time", controller: "static_pages", action: "number", file_id: "have_the_time" %></span></div>
        <div>Day 4 <span><%= link_to "Paint editor", controller: "static_pages", action: "number", file_id: "paint_editor" %></span></div>
        <div>Day 3 <span><%= link_to "Change the color", controller: "static_pages", action: "number", file_id: "change_the_color" %></span></div>
        <div>Day 2 <span><%= link_to "Draw the wall", controller: "static_pages", action: "number", file_id: "draw_the_wall" %></span></div>
        <div>Day 1 <span><%= link_to "Homepage", root_path %></span></div>
      </div>
    </div>
  </div>